#app {
    padding: 40px;
}

.header h1 {
    margin: auto;
    max-width: 25%;
    border-bottom: 3px solid red;
    text-align: center;
    padding-bottom: 5px;
}

#info {
    padding-top: 10px;
    margin: auto;
    max-width: 40%;
    text-align: center;
}

form {
    margin: auto;
    max-width: 75%;
    text-align: center;
    padding: 10px;
}

#VEI {
    width: 50px;
}